In [3]:
import pandas as pd

Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [4]:
yelpparsed=pd.read_csv('../data/yelpdata.csv')
foursquareparsed=pd.read_csv('../data/foursqdata.csv')
citybikedata=pd.read_csv('../data/data.csv')

In [9]:
citybikedata.rename(columns={'name': 'station'}, inplace=True)

In [22]:
mergeddf=pd.merge(citybikedata,yelpparsed,on=['station'],how='inner',suffixes=('city','yelp'))
finaldf=pd.merge(mergeddf,foursquareparsed,on=['station'],how='inner',suffixes=('','foursq'))
finaldf=finaldf.rename(columns={'distance': 'distanceyelp','name':'poiname', 'rating':'ratingyelp','popularity':'popularityyelp'})

In [23]:
finaldf.head()

,station,latitude,longitude,free_bikes,empty_slots,total_bike_cap,distanceyelp,poiname,location.address,ratingyelp,distancefoursq,namefoursq,location.addressfoursq,ratingfoursq,popularityyelp,categories
0,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,4.2,773,Union Market,2306 Jefferson Ave,9.4,0.984966,bar
1,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,4.2,912,Liberty Public House,418 N 25th St,8.7,0.975994,bar
2,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,4.2,604,Kahlo’s Taqueria and Bar,718 N 23rd St,7.8,0.971639,bar
3,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,4.2,917,Leisure Business Advisors,2010 Princess Anne Ave,NaN,0.283975,office
4,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,4.2,999,Armstrong Renaissance,1665 N 31st St,NaN,0.324007,office

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

In [24]:
finaldf['ratingyelp']=finaldf[['ratingyelp']]*2
finaldf.head()

,station,latitude,longitude,free_bikes,empty_slots,total_bike_cap,distanceyelp,poiname,location.address,ratingyelp,distancefoursq,namefoursq,location.addressfoursq,ratingfoursq,popularityyelp,categories
0,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,8.4,773,Union Market,2306 Jefferson Ave,9.4,0.984966,bar
1,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,8.4,912,Liberty Public House,418 N 25th St,8.7,0.975994,bar
2,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,8.4,604,Kahlo’s Taqueria and Bar,718 N 23rd St,7.8,0.971639,bar
3,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,8.4,917,Leisure Business Advisors,2010 Princess Anne Ave,NaN,0.283975,office
4,East End Library,37.539779,-77.41146,0,6,6,645.388529,The Roosevelt,623 N 25th St,8.4,999,Armstrong Renaissance,1665 N 31st St,NaN,0.324007,office

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [27]:
import sqlite3
from sqlite3 import Error as e

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection successful")
    except Error as e:
        print(f'The error {e}')
    return connection



connection = create_connection('../data/db')

Connection successful

creating function to execute queries

In [28]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as e:
        print(f"The error '{e}' occurred")

Creating and filling in stations table

In [44]:
create_stations_table = """
CREATE TABLE IF NOT EXISTS stations (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  latitude INTEGER,
  longitude INTEGER,
  free_bikes INTEGER,
  empty_slots INTEGER,
  total_bike_cap INTEGER
); """

execute_query(connection, create_stations_table)

Query successful

In [45]:
cursor = connection.cursor()
for index, row in citybikedata.iterrows():
    create_station = """
    INSERT INTO 
        stations(name, latitude, longitude, free_bikes, empty_slots, total_bike_cap)
    VALUES
        (?, ?, ?, ?, ?, ?)
    """
    cursor.execute(create_station, (
        row['station'], 
        row['latitude'], 
        row['longitude'], 
        row['free_bikes'], 
        row['empty_slots'], 
        row['total_bike_cap']
    ))
connection.commit()

Creating and inserting yelp table

In [46]:
create_yelp_table = """
CREATE TABLE IF NOT EXISTS yelp (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  station TEXT NOT NULL,
  distance INTEGER,
  name TEXT NOT NULL,
  address TEXT,
  rating DECIMAL
); """

execute_query(connection, create_yelp_table)

Query successful

In [51]:
for index, row in yelpparsed.iterrows():
    create_yelp = """
    INSERT INTO 
        yelp(station, distance, name, address, rating)
    VALUES
        (?, ?, ?, ?, ?)
    """
    cursor.execute(create_yelp, (
        row['station'], 
        row['distance'], 
        row['name'], 
        row['location.address'], 
        row['rating']
    ))
connection.commit()

Creating and filling Foursquare table

In [52]:
create_foursq_table = """
CREATE TABLE IF NOT EXISTS foursq (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  station TEXT NOT NULL,
  distance INTEGER,
  name TEXT NOT NULL,
  address TEXT,
  rating DECIMAL,
  popularity DECIMAL,
  categories TEXT
); """

execute_query(connection, create_foursq_table)

Query successful

In [53]:
for index, row in foursquareparsed.iterrows():
    create_foursq = """
    INSERT INTO 
        foursq(station, distance, name, address, rating, popularity, categories)
    VALUES
        (?, ?, ?, ?, ?, ?, ?)
    """
    cursor.execute(create_foursq, (
        row['station'], 
        row['distance'], 
        row['name'], 
        row['location.address'], 
        row['rating'],
        row['popularity'],
        row['categories']
    ))
connection.commit()

Look at the data before and after the join to validate your data.

In [54]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [55]:
query = "SELECT * FROM foursq"
execute_read_query(connection, query)

[(1,
  'East End Library',
  773,
  'Union Market',
  '2306 Jefferson Ave',
  9.4,
  0.9849659425465568,
  'bar'),
 (2,
  'East End Library',
  912,
  'Liberty Public House',
  '418 N 25th St',
  8.7,
  0.975994286012926,
  'bar'),
 (3,
  'East End Library',
  604,
  'Kahlo’s Taqueria and Bar',
  '718 N 23rd St',
  7.8,
  0.971639112938348,
  'bar'),
 (4,
  'East End Library',
  917,
  'Leisure Business Advisors',
  '2010 Princess Anne Ave',
  None,
  0.2839747051547828,
  'office'),
 (5,
  'East End Library',
  999,
  'Armstrong Renaissance',
  '1665 N 31st St',
  None,
  0.3240074560563036,
  'office'),
 (6,
  'Sydney Park',
  295,
  'Beauvine Burger Concept',
  '1501 W Main St',
  8.5,
  0.9884675016985176,
  'bar'),
 (7,
  'Sydney Park',
  170,
  'Postbellum',
  '1323 W Main St',
  7.6,
  0.9516227374875876,
  'bar'),
 (8,
  'Sydney Park',
  828,
  'Cobra Cabana',
  '901 W Marshall St',
  7.9,
  0.995366095848649,
  'bar'),
 (9,
  'Sydney Park',
  974,
  'The Sidewalk Cafe',
  '2101 W Main St',
  7.9,
  0.9933278748497464,
  'bar'),
 (10,
  'Sydney Park',
  814,
  'District 5',
  '1911 W Main St',
  7.7,
  0.9792345347804122,
  'bar'),
 (11,
  'Sydney Park',
  894,
  'Byrd House',
  '301 W Franklin St',
  7.3,
  0.9684685469400554,
  'bar'),
 (12,
  'Sydney Park',
  854,
  'The Camel',
  '1621 W Broad St',
  7.2,
  0.9812727557793148,
  'bar'),
 (13,
  'Sydney Park',
  490,
  'Home Team Grill',
  '1630 W Main St',
  6.5,
  0.9627719805585074,
  'bar'),
 (14,
  'Sydney Park',
  99,
  'CapTech',
  '1118 W Main St',
  None,
  0.9226347055031968,
  'office'),
 (15,
  'Sydney Park',
  115,
  'Sportable Richmond Adaptive Sports & Recreation',
  '1327 Floyd Ave',
  None,
  0.224674668571329,
  'bar'),
 (16,
  'Broad & Harrison',
  968,
  "T J's Restaurant & Lounge",
  '101 W Franklin St',
  8.4,
  0.949288364719614,
  'bar'),
 (17,
  'Broad & Harrison',
  945,
  'Bar Solita',
  '123 W Broad St',
  7.3,
  0.9363970524188632,
  'bar'),
 (18,
  'Broad & Harrison',
  250,
  'Chuggers Old City Pub',
  '900 W Franklin St',
  None,
  0.5504590352420605,
  'bar'),
 (19,
  'Broad & Harrison',
  308,
  'Maintenance Support Services',
  '304 Gilmer St',
  None,
  0.2388376914098566,
  'office'),
 (20,
  'Broad & Lombardy',
  960,
  'Main Line Brewery',
  '1603 Ownby Ln',
  7,
  0.9832587147013222,
  'bar'),
 (21,
  'Broad & Lombardy',
  668,
  "The Mansion Room at Fielden's",
  '2033 W Broad St',
  6.4,
  0.8993780812849502,
  'bar'),
 (22,
  'Broad & Lombardy',
  74,
  'Tap 20 Tavern',
  '711 N Lombardy St',
  None,
  0.86831698691706,
  'bar'),
 (23,
  'Broad & Lombardy',
  89,
  'VCU Center For Psychological Services and Development',
  '612 N Lombardy St',
  None,
  0.9192899325819208,
  'office'),
 (24,
  'Broad & Lombardy',
  140,
  'Science Pub RVA at The Camel',
  'Broad Street',
  None,
  0.4536174067557444,
  'bar'),
 (25,
  'Broad Rock Library',
  424,
  'The Pitts',
  '2220 Broad Rock Blvd',
  None,
  0.0258174659860982,
  'bar'),
 (26,
  'Abner Clay Park',
  804,
  'Lillie Pearl',
  '416 E Grace St',
  8.3,
  0.9658902844799052,
  'bar'),
 (27,
  'Abner Clay Park',
  906,
  'Penny Lane Pub',
  '421 E Franklin St',
  8.4,
  0.991063184850966,
  'bar'),
 (28,
  'Abner Clay Park',
  807,
  'Wong Gonzalez',
  '412 E Grace St',
  8.1,
  0.9605072905597268,
  'bar'),
 (29,
  'Abner Clay Park',
  451,
  'Barcode',
  '6 E Grace St',
  7.3,
  0.9722488371687892,
  'bar'),
 (30,
  'Abner Clay Park',
  705,
  "Godfrey's",
  '308 E Grace St',
  7.2,
  0.9714997473999616,
  'bar'),
 (31,
  'Abner Clay Park',
  936,
  'Maya Mexican Grill And Tequila Lounge',
  '525 E Grace St',
  7.3,
  0.9728934027838266,
  'bar'),
 (32,
  'Abner Clay Park',
  801,
  'Cary 100',
  '100 E Cary St',
  7.1,
  0.0380990540564082,
  'bar'),
 (33,
  'Abner Clay Park',
  432,
  'The Speakeasy Grill',
  '526 N 2nd St',
  6.4,
  0.8961900945943592,
  'bar'),
 (34,
  'Center Stage',
  255,
  'Capital Ale House',
  '623 E Main St',
  7.5,
  0.9942860129261536,
  'bar'),
 (35,
  'Center Stage',
  267,
  "Chicano's Cocina Bar & Grill",
  '523 E Main St',
  7.4,
  0.9804714039335924,
  'bar'),
 (36,
  'Center Stage',
  836,
  'Sine Irish Pub & Restaurant',
  '1327 E Cary St',
  7.9,
  0.994860895771998,
  'bar'),
 (37,
  'Center Stage',
  250,
  'Kabana Rooftop',
  '700 E Main St',
  6.7,
  0.9698099402470254,
  'bar'),
 (38,
  'Main Street Station',
  192,
  "LuLu's",
  '21 N 17th St',
  8.7,
  0.9852446736233298,
  'bar'),
 (39,
  'Main Street Station',
  552,
  'Station 2',
  '2016 E Main St',
  8.5,
  0.9944776405414352,
  'bar'),
 (40,
  'Main Street Station',
  634,
  'Grandstaff & Stein',
  '2113 E Main St',
  8.4,
  0.9543752068707212,
  'bar'),
 (41,
  'Main Street Station',
  507,
  'Richbrau Brewing',
  '5 S 20th St',
  8.1,
  0.9768653206278416,
  'bar'),
 (42,
  'Main Street Station',
  880,
  "Patrick Henry's Pub & Grille",
  '2300 E Broad St',
  8.6,
  0.9837116527010784,
  'bar'),
 (43,
  'Main Street Station',
  358,
  'Fallout',
  '117 N 18th St',
  7.2,
  0.9782589760117067,
  'bar'),
 (44,
  'Main Street Station',
  234,
  'Canal Club',
  '1545 E Cary St',
  6.6,
  0.969949305785412,
  'bar'),
 (45,
  'Main Street Station',
  250,
  'Southern Railway Taphouse',
  '111 Virginia St',
  6.4,
  0.988659129313799,
  'bar'),
 (46,
  'Carter Jones Park',
  294,
  'Teens Against Drug Abuse',
  '2600 Porter St',
  None,
  0.642858387192307,
  'office'),
 (47,
  'Carter Jones Park',
  504,
  'Warehouse 29',
  '2702 Decatur St',
  None,
  0.6785708064038465,
  'office'),
 (48,
  'Carter Jones Park',
  758,
  'Fishel Stephen',
  '202 W 34th St',
  None,
  0.1050293538665226,
  'office'),
 (49,
  'Carter Jones Park',
  927,
  "Thirsty's Bar & Grill",
  '3516 Forest Hill Ave',
  None,
  0.9697750988624289,
  'bar'),
 (50,
  'Carter Jones Park',
  945,
  'The Bluebird',
  '3314 Midlothian Tpke',
  None,
  0.8964862463634304,
  'bar'),
 (51,
  'Monroe Park',
  471,
  "Chili's Grill & Bar",
  '355 W Cary St',
  6.2,
  0.9673710433252616,
  'bar'),
 (52,
  'Monroe Park',
  102,
  'VCU Rhoads and Brandt Housing Office',
  '710 W Franklin St',
  None,
  0.0327334808285281,
  'office'),
 (53,
  'Battery Park',
  694,
  'Tabol Brewing',
  '704 Dawn St',
  6.9,
  0.9851227287772416,
  'bar'),
 (54,
  'Battery Park',
  378,
  'Boys II Men Administrative Office',
  '2532 N Lombardy St',
  None,
  0.2152152326533456,
  'bar'),
 (55,
  'Battery Park',
  571,
  'Fuzzy Cactus',
  '221 W Brookland Park Blvd',
  None,
  0.9921084263888648,
  'bar'),
 (56,
  'Battery Park',
  617,
  'RVA Createspace',
  '607 Wickham St',
  None,
  0.8981063707471735,
  'office'),
 (57,
  'Battery Park',
  622,
  'Boogaloos',
  '210 W Brookland Park Blvd',
  None,
  0.0164277128373081,
  'bar'),
 (58,
  'Battery Park',
  670,
  'Ninja Kombucha',
  '126 W Brookland Park Blvd',
  None,
  0.9111893106632056,
  'bar'),
 (59,
  'Battery Park',
  704,
  'Good Tymes',
  '2030 1/2 Chamberlayne Ave',
  None,
  0.6917582704736687,
  'bar'),
 (60,
  'Battery Park',
  711,
  'Union Bistro & Jazz',
  '2400 Northumberland Ave',
  None,
  0.9102311725867986,
  'bar'),
 (61,
  'Battery Park',
  740,
  'Outer City Lounge',
  '2030 Chamberlayne Ave',
  None,
  0.9010678884378864,
  'bar'),
 (62,
  'Battery Park',
  765,
  'Pfizer Consumer Healthcare',
  '1211 Sherwood Ave',
  None,
  0.9898959984669792,
  'office'),
 (63,
  'Blackwell',
  442,
  'Hull Street Grocery Store',
  '1514 Hull St',
  None,
  0.1673954322944794,
  'office'),
 (64,
  'Blackwell',
  470,
  'Pig & Brew',
  '1313 Hull St',
  None,
  0.9813598592408064,
  'bar'),
 (65,
  'Blackwell',
  476,
  'Med Demolition & Construction',
  '1108 Decatur St',
  None,
  0.6502621814190896,
  'office'),
 (66,
  'Blackwell',
  485,
  'Vibes Cyber Cafe & Banquet Hll',
  '1212 Hull St',
  None,
  0.614149086284689,
  'bar'),
 (67,
  'Blackwell',
  507,
  'The Butterbean Market & Cafe',
  '1204 Hull St',
  None,
  0.9451422399526156,
  'bar'),
 (68,
  'Blackwell',
  675,
  'Lite-Tek / Omnitech Warehouse',
  '1015 E 12th St',
  None,
  0.6622301970280299,
  'office'),
 (69,
  'Blackwell',
  378,
  'Credential America',
  '1506 Hull St',
  None,
  None,
  'office'),
 (70,
  'Blackwell',
  619,
  'Millennium Training',
  '1500 Porter St',
  None,
  None,
  'office'),
 (71,
  'Blackwell',
  957,
  'Old Manchester Rooftop Deck',
  '815 Porter St',
  None,
  None,
  'bar'),
 (72,
  'Blackwell',
  998,
  'Esf Trailer Systems',
  '202 Brinser St',
  None,
  None,
  'office'),
 (73,
  'Fairmont',
  975,
  'Food Buying Club',
  '1021 Oliver Hill Way',
  None,
  0.0866679441841018,
  'bar'),
 (74,
  'Science Museum',
  342,
  'The Broadberry',
  '2729 W Broad St',
  8.3,
  0.979844259010853,
  'bar'),
 (75,
  'Science Museum',
  913,
  'Hardywood Park Craft Brewery',
  '2408 Ownby Ln',
  9.1,
  0.99318850931136,
  'bar'),
 (76,
  'Science Museum',
  941,
  'Commercial Taphouse & Grill',
  '111 N Robinson St',
  8.8,
  0.9317805689598104,
  'bar'),
 (77,
  'Science Museum',
  672,
  'Fat Dragon',
  '1200 N Arthur Ashe Blvd',
  8.2,
  0.9815863282406844,
  'bar'),
 (78,
  'Science Museum',
  240,
  "Gus' Bar & Grill",
  '2701 W Broad St',
  7.5,
  0.978555127780778,
  'bar'),
 (79,
  'Science Museum',
  465,
  'River City Roll',
  '939 Myers St',
  7.8,
  0.9939201783878892,
  'bar'),
 (80,
  'Science Museum',
  694,
  'Sheppard Street Tavern',
  '2922 Park Ave',
  7.9,
  0.9614828493284324,
  'bar'),
 (81,
  'Science Museum',
  958,
  'The Circuit - Arcade Bar',
  '3121 W Leigh St',
  8.2,
  0.9316237827291256,
  'bar'),
 (82,
  'Science Museum',
  796,
  "McCormack's Whisky Grill",
  '204 N Robinson St',
  7.8,
  0.9382784871870808,
  'bar'),
 (83,
  'Science Museum',
  554,
  'The Hof',
  '2818 W Broad St',
  7.3,
  0.9737818580910406,
  'bar'),
 (84,
  'Browns Island',
  921,
  'Legend Brewing Company',
  '321 W 7th St',
  8,
  0.9811682316255248,
  'bar'),
 (85,
  'Jefferson Ave',
  443,
  'Dutch & Co.',
  '400 N 27th St',
  9.2,
  0.4976220755012804,
  'bar'),
 (86,
  'Jefferson Ave',
  595,
  '23rd & Main',
  '2300 E Main St',
  8.9,
  0.9293765134226434,
  'bar'),
 (87,
  'Chimborazo Park',
  453,
  'Alewife',
  '3120 E Marshall St',
  8.3,
  0.9498284061808616,
  'bar'),
 (88,
  'Chimborazo Park',
  854,
  "Poe's Pub",
  '2706 E Main St',
  7.2,
  0.9709248645541174,
  'bar'),
 (89,
  'Chimborazo Park',
  290,
  'Al Dobbins Consulting',
  '3611 E Marshall St',
  None,
  0.4098217863177882,
  'office'),
 (90,
  'Chimborazo Park',
  502,
  'Stone Brewing Richmond',
  '4300 Williamsburg Ave',
  None,
  0.9601588767137608,
  'bar'),
 (91,
  'Chimborazo Park',
  908,
  'Arts & Letters Creative Co.',
  '2700 E Cary St',
  None,
  0.9668832639409092,
  'office'),
 (92,
  'Chimborazo Park',
  936,
  'CSX Fulton Yard',
  '4900 Old Osborne Tpke',
  None,
  0.1839403973509933,
  'office'),
 (93,
  'Chimborazo Park',
  959,
  'Island Shrimp - Rocketts Landing',
  '11 Orleans St',
  None,
  0.9806456108565754,
  'bar'),
 (94,
  'Chimborazo Park',
  983,
  'Tax Services',
  '2603 E Main St',
  None,
  0.0778008118042611,
  'office'),
 (95,
  'Chimborazo Park',
  1009,
  'Pure Culture Consulting',
  '4841 Old Main St',
  None,
  0.0740066225165562,
  'office'),
 (96,
  'Pleasants Park-Oregon Hill',
  371,
  'Manhatten Wine Co.',
  '607 S Pine St',
  None,
  0.5946379109105796,
  'bar'),
 (97,
  'Pleasants Park-Oregon Hill',
  399,
  'Leone',
  '2ND Ave',
  None,
  0.7728864345069073,
  'bar'),
 (98,
  'Pleasants Park-Oregon Hill',
  553,
  'West Cary Group',
  '5 W Cary St',
  None,
  0.8989948260543874,
  'office'),
 (99,
  'North Avenue Library',
  599,
  "Sandy's Restaurant & Lounge",
  '2424 North Ave',
  None,
  0.6939532777032559,
  'bar'),
 (100,
  'North Avenue Library',
  952,
  'Earls Shack',
  '2115 Greenwood Ave',
  None,
  0.9019737644373989,
  'bar'),
 (101,
  'Petronius Jones Park-Randolph',
  406,
  'Jardin',
  '1520 W Main St',
  None,
  0.9751755134749056,
  'bar'),
 (102,
  'Petronius Jones Park-Randolph',
  419,
  'Epsilon Systems Consultants',
  '1520 W Main St',
  None,
  0.3518979844259011,
  'office'),
 (103,
  'Petronius Jones Park-Randolph',
  420,
  'Specialty Beverage',
  '1614 W Main St',
  None,
  0.163353831681271,
  'bar'),
 (104,
  'Petronius Jones Park-Randolph',
  422,
  'Tahzoo',
  '1435 W Main St',
  None,
  0.8448164730066373,
  'office'),
 (105,
  'Petronius Jones Park-Randolph',
  447,
  'Eaf Custom Communication',
  '1520 W Main St',
  None,
  0.3041478668362281,
  'office')]

I would execute a join statment to see the same results as a merged dataframe. The query would be as follows

In [ ]:
query = """
SELECT s.station
FROM stations as s
JOIN yelp as y
ON s.station = y.station
"""