Build a regression model.

In [113]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Read the CSV file into a DataFrame
df = pd.read_csv('../data/final_df.csv')

# Display the first few rows
df.head()
df

,station,distance_foursq,name_foursq,location.address,rating_foursq,popularityfoursq,categories,latitude_foursq,longitude_foursq,station_yelp,...,renting,returning,last_updated,has_ebikes,ebikes,payment,payment-terminal,slots.1,rental_uris.android,rental_uris.ios
0,Fairfax Dr & Wilson Blvd,97,The Liberty Tavern,3195 Wilson Blvd,8.5,0.982103,bar,38.886352,-77.096879,Fairfax Dr & Wilson Blvd,...,1,1,1729555616,True,0,"['key', 'creditcard']",True,12,https://dc.lft.to/lastmile_qr_scan,https://dc.lft.to/lastmile_qr_scan
1,Fairfax Dr & Wilson Blvd,442,Screwtop Wine Bar,1025 N Fillmore St,8.5,0.965967,bar,38.885366,-77.092691,Fairfax Dr & Wilson Blvd,...,1,1,1729555616,True,0,"['key', 'creditcard']",True,12,https://dc.lft.to/lastmile_qr_scan,https://dc.lft.to/lastmile_qr_scan
2,Fairfax Dr & Wilson Blvd,157,Don Tito,3165 Wilson Blvd,7.3,0.988598,bar,38.886695,-77.096409,Fairfax Dr & Wilson Blvd,...,1,1,1729555616,True,0,"['key', 'creditcard']",True,12,https://dc.lft.to/lastmile_qr_scan,https://dc.lft.to/lastmile_qr_scan
3,Fairfax Dr & Wilson Blvd,311,East West Coffee Wine,3101 Wilson Blvd,7.5,0.973212,bar,38.887544,-77.095360,Fairfax Dr & Wilson Blvd,...,1,1,1729555616,True,0,"['key', 'creditcard']",True,12,https://dc.lft.to/lastmile_qr_scan,https://dc.lft.to/lastmile_qr_scan
4,Fairfax Dr & Wilson Blvd,460,Wilson Hardware Kitchen & Bar,2915 Wilson Blvd,7.3,0.967093,bar,38.888531,-77.093736,Fairfax Dr & Wilson Blvd,...,1,1,1729555616,True,0,"['key', 'creditcard']",True,12,https://dc.lft.to/lastmile_qr_scan,https://dc.lft.to/lastmile_qr_scan

Provide model output and an interpretation of the results.

In [112]:
# Multiply 'ratingyelp' by 2 because Foursquare is on a 1-10 scale
df['rating_yelp'] = df['rating_yelp'] * 2

# Convert 'distanceyelp', 'ratingyelp', and 'free_bikes' to numeric, coercing errors to NaN
df['distance_yelp'] = pd.to_numeric(df['distance_yelp'], errors='coerce')
df['rating_yelp'] = pd.to_numeric(df['rating_yelp'], errors='coerce')
df['free_bikes'] = pd.to_numeric(df['free_bikes'], errors='coerce')

# Print the data types of the DataFrame columns
print(df.dtypes)

station                 object
distance_foursq          int64
name_foursq             object
location.address        object
rating_foursq          float64
popularityfoursq       float64
categories              object
latitude_foursq        float64
longitude_foursq       float64
station_yelp            object
distance_yelp          float64
name_yelp               object
rating_yelp            float64
latitude_yelp          float64
longitude_yelp         float64
latitude               float64
longitude              float64
free_bikes               int64
empty_slots              int64
slots                  float64
uid                     object
renting                  int64
returning                int64
last_updated             int64
has_ebikes                bool
ebikes                   int64
payment                 object
payment-terminal          bool
slots                    int64
rental_uris.android     object
rental_uris.ios         object
dtype: object

In [98]:
print(f"Shape of the dataset: {df.shape}")

print(df.head())

print(df.isnull().sum())

print(df.describe())

print(df.info())

Shape of the dataset: (145, 32)
                    station  distance_foursq                    name_foursq  \
0  Fairfax Dr & Wilson Blvd               97             The Liberty Tavern
1  Fairfax Dr & Wilson Blvd              442              Screwtop Wine Bar
2  Fairfax Dr & Wilson Blvd              157                       Don Tito
3  Fairfax Dr & Wilson Blvd              311          East West Coffee Wine
4  Fairfax Dr & Wilson Blvd              460  Wilson Hardware Kitchen & Bar

     location.address  rating_foursq  popularityfoursq categories  \
0    3195 Wilson Blvd            8.5          0.982103        bar
1  1025 N Fillmore St            8.5          0.965967        bar
2    3165 Wilson Blvd            7.3          0.988598        bar
3    3101 Wilson Blvd            7.5          0.973212        bar
4    2915 Wilson Blvd            7.3          0.967093        bar

   latitude_foursq  longitude_foursq              station_yelp  ...  \
0        38.886352        -77.096879  Fairfax Dr & Wilson Blvd  ...
1        38.885366        -77.092691  Fairfax Dr & Wilson Blvd  ...
2        38.886695        -77.096409  Fairfax Dr & Wilson Blvd  ...
3        38.887544        -77.095360  Fairfax Dr & Wilson Blvd  ...
4        38.888531        -77.093736  Fairfax Dr & Wilson Blvd  ...

   returning last_updated  has_ebikes  ebikes                payment  \
0          1   1729555616        True       0  ['key', 'creditcard']
1          1   1729555616        True       0  ['key', 'creditcard']
2          1   1729555616        True       0  ['key', 'creditcard']
3          1   1729555616        True       0  ['key', 'creditcard']
4          1   1729555616        True       0  ['key', 'creditcard']

   payment-terminal  slots                 rental_uris.android  \
0              True     12  https://dc.lft.to/lastmile_qr_scan
1              True     12  https://dc.lft.to/lastmile_qr_scan
2              True     12  https://dc.lft.to/lastmile_qr_scan
3              True     12  https://dc.lft.to/lastmile_qr_scan
4              True     12  https://dc.lft.to/lastmile_qr_scan

                      rental_uris.ios  is_bar
0  https://dc.lft.to/lastmile_qr_scan       1
1  https://dc.lft.to/lastmile_qr_scan       1
2  https://dc.lft.to/lastmile_qr_scan       1
3  https://dc.lft.to/lastmile_qr_scan       1
4  https://dc.lft.to/lastmile_qr_scan       1

[5 rows x 32 columns]
station                  0
distance_foursq          0
name_foursq              0
location.address         0
rating_foursq            0
popularityfoursq         0
categories               0
latitude_foursq          0
longitude_foursq         0
station_yelp             0
distance_yelp            0
name_yelp                0
rating_yelp              0
latitude_yelp            0
longitude_yelp           0
latitude                 0
longitude                0
free_bikes               0
empty_slots              0
slots                  145
uid                      0
renting                  0
returning                0
last_updated             0
has_ebikes               0
ebikes                   0
payment                  0
payment-terminal         0
slots                    0
rental_uris.android      0
rental_uris.ios          0
is_bar                   0
dtype: int64
       distance_foursq  rating_foursq  popularityfoursq  latitude_foursq  \
count       145.000000     145.000000        145.000000       145.000000
mean        311.413793       7.402759          0.964562        38.899937
std         108.350613       0.945306          0.067178         0.044755
min          25.000000       5.400000          0.283725        38.764900
25%         238.000000       6.900000          0.964264        38.879610
50%         307.000000       7.400000          0.979448        38.882492
75%         402.000000       8.100000          0.985221        38.929650
max         485.000000       9.100000          0.999041        39.040563

       longitude_foursq  distance_yelp  rating_yelp  latitude_yelp  \
count        145.000000     145.000000   145.000000     145.000000
mean         -77.100731     321.254471     7.950345      38.899820
std            0.084432     112.667745     1.100387       0.044839
min          -77.355673      29.344749     0.000000      38.764872
25%          -77.111010     260.646858     7.400000      38.878860
50%          -77.095360     312.360500     8.000000      38.882419
75%          -77.032348     408.443448     8.600000      38.929680
max          -76.994681     609.438238    10.000000      39.040597

       longitude_yelp    latitude   longitude  free_bikes  empty_slots  slots  \
count      145.000000  145.000000  145.000000  145.000000   145.000000    0.0
mean       -77.100642   38.899815  -77.100646    6.544828     8.951724    NaN
std          0.084404    0.044853    0.084484    4.818914     4.389588    NaN
min        -77.355670   38.768430  -77.353414    0.000000     0.000000    NaN
25%        -77.111100   38.876695  -77.112982    4.000000     6.000000    NaN
50%        -77.095310   38.884181  -77.094537    4.000000    10.000000    NaN
75%        -77.032440   38.928121  -77.031500    9.000000    10.000000    NaN
max        -76.994697   39.043272  -76.995358   19.000000    24.000000    NaN

       renting  returning  last_updated      ebikes       slots      is_bar
count    145.0      145.0  1.450000e+02  145.000000  145.000000  145.000000
mean       1.0        1.0  1.729556e+09    2.372414   16.972414    0.986207
std        0.0        0.0  3.423016e+01    4.676990    6.792505    0.117036
min        1.0        1.0  1.729556e+09    0.000000   11.000000    0.000000
25%        1.0        1.0  1.729556e+09    0.000000   12.000000    1.000000
50%        1.0        1.0  1.729556e+09    1.000000   15.000000    1.000000
75%        1.0        1.0  1.729556e+09    2.000000   19.000000    1.000000
max        1.0        1.0  1.729556e+09   19.000000   35.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   station              145 non-null    object
 1   distance_foursq      145 non-null    int64
 2   name_foursq          145 non-null    object
 3   location.address     145 non-null    object
 4   rating_foursq        145 non-null    float64
 5   popularityfoursq     145 non-null    float64
 6   categories           145 non-null    object
 7   latitude_foursq      145 non-null    float64
 8   longitude_foursq     145 non-null    float64
 9   station_yelp         145 non-null    object
 10  distance_yelp        145 non-null    float64
 11  name_yelp            145 non-null    object
 12  rating_yelp          145 non-null    float64
 13  latitude_yelp        145 non-null    float64
 14  longitude_yelp       145 non-null    float64
 15  latitude             145 non-null    float64
 16  longitude            145 non-null    float64
 17  free_bikes           145 non-null    int64
 18  empty_slots          145 non-null    int64
 19  slots                0 non-null      float64
 20  uid                  145 non-null    object
 21  renting              145 non-null    int64
 22  returning            145 non-null    int64
 23  last_updated         145 non-null    int64
 24  has_ebikes           145 non-null    bool
 25  ebikes               145 non-null    int64
 26  payment              145 non-null    object
 27  payment-terminal     145 non-null    bool
 28  slots                145 non-null    int64
 29  rental_uris.android  145 non-null    object
 30  rental_uris.ios      145 non-null    object
 31  is_bar               145 non-null    int64
dtypes: bool(2), float64(11), int64(9), object(10)
memory usage: 34.4+ KB
None

In [117]:
# Select features and drop missing values
X = df[['distance_yelp', 'rating_yelp', 'slots']].dropna()

# Creating numerical value for category 1 is bar 0 is school
df['is_bar'] = df['categories'].apply(lambda x: 1 if x == 'bar' else 0)

# Align target variable y with the cleaned DataFrame X
y = df['free_bikes'][X.index]

In [132]:
# Characteristics of POIs
X = df[['rating_foursq', 'rating_yelp', 'distance_yelp', 'slots.1']]
y = df['free_bikes']

# Add a constant to the independent variables
X = sm.add_constant(X)

# Fit the Ordinary Least Squares (OLS) regression model
model = sm.OLS(y, X)
results = model.fit()

# Print the summary of the regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             free_bikes   R-squared:                       0.488
Model:                            OLS   Adj. R-squared:                  0.473
Method:                 Least Squares   F-statistic:                     33.36
Date:                Mon, 21 Oct 2024   Prob (F-statistic):           1.57e-19
Time:                        18:09:21   Log-Likelihood:                -384.73
No. Observations:                 145   AIC:                             779.5
Df Residuals:                     140   BIC:                             794.3
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -1.6389      3.406     -0.481      0.631      -8.373       5.095
rating_foursq     0.4154      0.316      1.315      0.191      -0.209       1.040
rating_yelp      -0.3484      0.533     -0.653      0.515      -1.403       0.706
distance_yelp    -0.0047      0.003     -1.811      0.072      -0.010       0.000
slots.1           0.4715      0.044     10.758      0.000       0.385       0.558
==============================================================================
Omnibus:                        5.899   Durbin-Watson:                   0.470
Prob(Omnibus):                  0.052   Jarque-Bera (JB):                5.697
Skew:                           0.483   Prob(JB):                       0.0579
Kurtosis:                       3.093   Cond. No.                     4.03e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.03e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [129]:
simpledf = df[['distance_foursq', 'distance_yelp', 'rating_yelp', 'rating_foursq', 'free_bikes', 'categories', 'is_bar', 'slots.1']].copy()
simpledf = simpledf.rename(columns={'slots.1': 'slots1'})
simpledf.head()

,distance_foursq,distance_yelp,rating_yelp,rating_foursq,free_bikes,categories,is_bar,slots1
0,97,99.811027,3.8,8.5,2,bar,1,12
1,442,434.646931,4.1,8.5,2,bar,1,12
2,157,154.341780,3.6,7.3,2,bar,1,12
3,311,297.930279,4.0,7.5,2,bar,1,12
4,460,463.276488,3.7,7.3,2,bar,1,12

In [131]:
logit = smf.logit("is_bar ~ distance_yelp + distance_foursq + rating_yelp + rating_foursq + free_bikes + slots1", data=simpledf)
model = logit.fit()
print_model = model.summary()
print(print_model)

Optimization terminated successfully.
         Current function value: 0.023077
         Iterations 14
                           Logit Regression Results
==============================================================================
Dep. Variable:                 is_bar   No. Observations:                  145
Model:                          Logit   Df Residuals:                      138
Method:                           MLE   Df Model:                            6
Date:                Mon, 21 Oct 2024   Pseudo R-squ.:                  0.6829
Time:                        18:08:32   Log-Likelihood:                -3.3462
converged:                       True   LL-Null:                       -10.553
Covariance Type:            nonrobust   LLR p-value:                   0.02534
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         -45.2530     48.160     -0.940      0.347    -139.644      49.138
distance_yelp      -0.0015      0.019     -0.081      0.935      -0.038       0.035
distance_foursq     0.0761      0.057      1.329      0.184      -0.036       0.188
rating_yelp         1.5286      2.401      0.637      0.524      -3.178       6.235
rating_foursq       6.0545      6.314      0.959      0.338      -6.320      18.429
free_bikes          0.0760      0.328      0.232      0.817      -0.566       0.718
slots1             -0.6948      0.590     -1.177      0.239      -1.852       0.462
===================================================================================

Possibly complete quasi-separation: A fraction 0.68 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

# Stretch

How can you turn the regression model into a classification model?